@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;
}

:root{
    --bg-color: #FFFFFF;
    --second-bg-color: #f7f7f7;
    --text-color: #403d3e;
    --main-color: #b18fbf;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    height: 6.5rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.logo{
    font-size: 4rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.1);
    text-shadow: 0 5px 15px var(--main-color);
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    color: var(--text-color);
    font-size: 1.8rem;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar ul li a:hover,
.navbar ul li a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    display: none;
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background:  white;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        display: none;
        
        .navbar .active{
            display: block;
        }

        header .navbar ul{
            flex-flow: column;
        }

        header .navbar ul li{
            text-align: center;
            width: 100%;
            border-radius: 0.6rem;
        }

        header .navbar ul li a{
            display: block;
            padding: 1rem;
            text-align: left;
            font-size: 2rem;
            color: rgb(0,0,0);
        }

        .navbar ul li a:hover,
        .navbar ul li a.active {
            padding: 1rem;
            color: rgb(0, 0, 0);
            border-radius: 0.5rem;
            border-bottom: 0.5rem solid var(--main-color);
        }
    }
}

.header i{
    color: var(--main-color);
}

/*home*/

section{
    min-height: 100vh;
    padding: 2rem 9%;
}

.heading{
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
    text-align: center;
}

.header span{
    color: var(--main-color);
}

.home{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content{
    flex: 1 1 40%;
    padding-top: 1rem;
    z-index: 1;
}

.social-icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2rem;
    border: 0.2rem solid var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--main-color);
    border-radius: 4rem;
}

.social-icon a:hover{
    color: #f7f7f7;
    transform: scale(1.5)translateY(-5px);
    background-color: var(--main-color);
    filter: drop-shadow(0 0 15px var(--main-color));
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    color: #f7f7f7;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn span{
    color: #f7f7f7;
}

.btn:hover span{
    color: var(--main-color);
}

.btn:hover{
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    filter: drop-shadow(0 0 15px var(--main-color));
}

.home .content h1{
    font-size: 5rem;
    font-weight: 800;
    color: var(--main-color);
}

.home .content h3{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 2rem;
}

.home .content h3 span{
    font-size: 3rem;
    color: #f2a2c0;
    font-weight: 600;
    padding: 1rem 0;
}

.home .image{
    flex: 1 1 40rem;
    z-index: 1;
}

.home .image .img{
    width: 70%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.home .image .img:hover{
    box-shadow: 0 5px 15px var(--main-color);
}

.home .content h3 .typing-text{
    position: relative;
}

.home .content h3 .typing-text::before{
    content: 'estudante';
    animation: words 20s infinite;
}

.home .content h3 .typing-text::after{
    content: '';
    position: absolute;
    background: var(--bg-color);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);        
    }
}

@keyframes words{
    0%, 40%{
        content: 'estudante.';
    }
    41%, 80%{
        content: 'dev fullstack.';
    }
    81%, 100%{
        content: 'apaixonada por tecnologia.';
    }
}

@keyframes typing{
    10%, 35%,
    50%, 75%,
    85%, 95%{
        width: 0;
    }
    5%, 40%,
    45%, 80%,
    81%, 100% {
        width: calc(100% + 8px);
    }

}

@media (max-width: 450px) {
    .home .content h3{
        font-size: 2.2rem;
    }
    .home .content p span {
        font-size: 2.2rem;
    }
}

/*about*/

.heading{
    font-size: 6rem;
    text-align: center;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.about h2 span{
    font-size: 6rem;
    color: #f2a2c0;
    font-weight: 600;
    padding: 1rem 0;
}

.about .about-img{
    border-radius: 50%;
}

.about-img img{
    position: relative;
    top: 3rem;
    width: 18vw;
    cursor: pointer;
    transition: 0.4s ease;
}

.about-content h2{
    font-size: 3rem;
    font-weight: 800;
    margin-top: 3rem;
    text-align: center;
    color: var(--main-color);
}

.about-content p{
    font-size: 1.8rem;
    max-width: 1000px;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center
}

.about-content .btn {
    margin-top: 2rem;
}

@media(max-width:895px){
    .about-content h2{
        font-size: 2.2rem;
    }

    .about-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    .about-img img{
        width: 56vw;
        margin-top: -2rem;
    }
}

/*skills*/

.skills{
    background: var(--bg-color);
}

.skills .container{
background-color: #f2dcf2;
color: var(--text-color);
border-radius: 4rem;
padding: 2rem;
width: 80%;
margin: auto;
margin-top: 2rem;
}

.skills .container .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.skills .container .row .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.skills .container .row .info span{
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.skills .container .row .info i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    font-size: 6rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--main-color);
    border-radius: 4rem;
}

@media screen and (max-width:600px) {
    .skills .container{
        margin: 0;
        padding: 0;
    }

    .skills .container .row{
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }

    .skills .container{
        margin-top: 5px;
        width: 100%;
    }
    
}

/*education*/

.education{
    background: var(--bg-color);
}

.education .timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.education .timeline::after{
    content: '';
    position: absolute;
    width: 0;
    background-color: #f2dcf2;
    top: 0;
    bottom: 0;
    left: 45%;
    margin-left: -3px;
    z-index: -2px;    
}

.education .container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.education .container::after{
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    left: 97%;
    background-color: rgba(255, 255, 255);
    top: 15px;
    z-index: 100;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--text-color);
}

.education .left{
    left: 0;
}

.education .right{
    left: 50%;
}

.education .left::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #f2dcf2;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f2dcf2;
}

.education .right::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #f2dcf2;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f2dcf2;
}

.education .right::after{
    left: -16px;
}

.education .content{
    background-color: #f2dcf2;
    position: relative;
    border-radius: 6px;
}

.education .content .tag{
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.education .content .desc{
    margin-left: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.35rem;
}

.education .content .tag h2{
    font-size: 2rem;
    font-weight: 700;
    color: #403d3e;
}

.education .content .desc p{
    font-size: 1.3rem;
    font-weight: 500;
    color: #403d3e;
}

@media screen and (max-width:600px) {
    .education .timeline{
        margin-top: 2rem;
    }    
    .education .timeline::after{
        left: 31px;
    }
    .education .container{
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .education .container::after{
        font-size: 2.2rem;
    }
    .education .container::before{
        left: 61px;
        border: medium solid #f2dcf2;
        border-width: 10px 10px 10px 0;
        border-color: transparent #f2dcf2 transparent transparent;
    }
    .education .left::after{
        left: 15px;
    }
    .education .right::after{
        left: 15px;
    }
    .education .right{
        left: 0%;
    }
}

/*projects*/

.projects {
    background: var(--bg-color);
  }
  
  .projects-content h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 3rem;
    text-align: center;
    color: var(--main-color);
  }
  
  .projects h2 span {
    font-size: 6rem;
    color: #f2a2c0;
    font-weight: 600;
    padding: 1rem 0;
  }
  
  .projects .projects-img {
    border-radius: 50%;
  }
  
  .projects-img img {
    position: relative;
    top: 3rem;
    width: 18vw;
    cursor: pointer;
    transition: 0.4s ease;
    align-items: center;
    justify-content: center;
  }
  
  .projects-content p {
    font-size: 1.8rem;
    max-width: 1000px;
    font-weight: 500;
    margin-top: 1rem;
    text-align: right;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .projects-img {
    flex-basis: 40%;
    margin-left: 5rem;
  }
  
  .projects-content {
    flex-basis: 55%;
    margin-right: 5rem;
  }


/*contact*/

.contact {
    background: var(--bg-color);
}

.contact h2{
    margin-bottom: 2rem;
    color: var(--text-color);
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact h2 span{
    font-size: 6rem;
    color: #f2a2c0;
    font-weight: 600;
    padding: 1rem 0;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: var(--main-color);
}

footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--text-color);
}

footer .social a i{
    font-size: 25px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 4rem;
    margin: 0 10px;
    transition: 0.3s ease;
}

footer .social a i:hover{
    transform: scale(1.2)translateY(-5px);
    background: #403d3e;
    color: var(--main-color);
    text-align: center;
}

footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

footer ul li a:hover{
    border-bottom: 3px solid var(--text-color);
}

footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

@media (max-width:1285px){
    html{
        font-size: 55%;
    }

}

@media (max-width:895){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 5rem 3% 2rem;
    }
    footer{
        padding: 2 rem 3%;
    }

}
